# Config file for collectd(1).
# Maintained by juju, manual changes will be lost

##############################################################################
# Global                                                                     #
##############################################################################

#Hostname "localhost"
FQDNLookup true
Interval {{ config.interval }}

##############################################################################
# Logging                                                                    #
##############################################################################

LoadPlugin syslog
<Plugin syslog>
    LogLevel info
</Plugin>

##############################################################################
# LoadPlugin section                                                         #
##############################################################################

{% for plugin in plugins -%}
LoadPlugin {{ plugin }}
{% endfor %}

##############################################################################
# Include extra configs                                                      #
##############################################################################

<Include "/etc/collectd/collectd.conf.d">
        Filter "*.conf"
</Include>

